.header-title {
  font-family: $font-family-sans-serif;
  font-size: 3.25rem;
  font-weight: 900;
}

.header-subtitle {
  font-family: $font-family-condensed;
  font-size: 1.75rem !important;
  font-weight: 600;
  padding-top: 0;
  padding-bottom: 0;
  text-shadow: 2px 2px 0 black;
}

.navbar-inverse .navbar-nav .active > .nav-link,
.navbar-inverse .navbar-nav .nav-link.active {
  background-color: rgba(0, 0, 0, .75);
}

.header-box {
  background-color: rgba(0, 0, 0, .25);
}

.framed-primary {
  border: 5px solid $brand-primary;
  clip-path: polygon(0 0, 32px 0, 32px 6px, calc(100% - 6px) 6px, calc(100% - 6px) calc(100% - 32px), 100% calc(100% - 32px), 100% 100%, calc(100% - 32px) 100%, calc(100% - 32px) calc(100% - 6px), 6px calc(100% - 6px), 5px 32px, 0 32px);
}
