.light-trail-box {
  border-top: 5px solid $brand-primary;
  border-left: 5px solid $brand-primary;
  border-bottom: 5px solid $brand-primary;
  padding-left: 2rem;
  margin-top: 1.75rem;
}

.light-trail-box-heading {
  background-color: $white;
  margin-top: -1.75rem;
  padding: .25rem 0 .25rem 1rem;
}

.bg-inverse .light-trail-box-heading {
  background-color: $black;
}

.bg-secondary .light-trail-box-heading {
  background-color: $white;
}

.bg-faded .light-trail-box-heading {
  background-color: #f7f7f7; // .bg-faded
}

.light-trail-box-body {
  padding: .25rem 0 .25rem 1rem;
}
